<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Minha Biblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MBiblioteca.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="nav">

        <a asp-controller="Home" asp-action="Index">
            <img src="/Img/Logo_MinhaBiblioteca.svg" alt="Logo">
        </a>

        <div class="nav-itens">
            <ul>
                <li>
                    <button asp-controller="Emprestimos" asp-action="Index" class="btn-nav">Emprestimos</button>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn-nav">Cadastros</button>
                        <div class="dropdown-nav">
                            <a asp-controller="Livros" asp-action="Index" style="color: black;">Livros</a>
                            <a asp-controller="Leitores" asp-action="Index" style="color: black;">Leitores</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn-nav">Relatorio</button>
                        <div class="dropdown-nav">
                            <a href="#" style="color: black;">Livros</a>
                            <a href="#" style="color: black;">Leitores</a>
                            <a href="#" style="color: black;">Emprestimos</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="container d-flex justify-content-center">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Minha Biblioteca 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
